<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Inventory Management System</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="~/Templates/img/Logo/logo.png" type="image/x-icon" />
  <link href="~/Templates/css/fonts.min.css" rel="stylesheet" />
  <!-- Fonts and icons -->
  <script src="~/Templates/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons"
        ],
        urls: ["@Url.Content("~/Templates/css/fonts.min.css")"]
      },
      active: function () {
        sessionStorage.fonts = true;
      }
    });
  </script>

  <!-- CSS Files -->
  <link rel="stylesheet" href="~/Templates/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/Templates/css/plugins.min.css" />
  <link rel="stylesheet" href="~/Templates/css/kaiadmin.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="~/Templates/css/demo.css" />
  
  <style>
    /* Notification styles */
    .notif-warning {
      background-color: #ffc107;
      color: #212529;
    }
    
    .notif-danger {
      background-color: #dc3545;
      color: #fff;
    }
    
    .notif-primary {
      background-color: #007bff;
      color: #fff;
    }
    
    .notif-success {
      background-color: #28a745;
      color: #fff;
    }
    
    .notif-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    
    .notification {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #dc3545;
      color: white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    
    .nav-item.topbar-icon {
      position: relative;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a asp-controller="Dashboards" asp-action="Index" class="logo">
            <img src="~/Templates/img/Logo/logo.png" alt="navbar brand" class="navbar-brand" height="50" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>

      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item active">
              <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="dashboard">
                <ul class="nav nav-collapse">
                  <li>
                    <a asp-controller="Dashboards" asp-action="Index">
                      <span class="sub-item">Dashboard 1</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
              <h4 class="text-section">Components</h4>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#base">
                <i class="fas fa-layer-group"></i>
                <p>Product Category</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="base">
                <ul class="nav nav-collapse">
                  <li>
                    <a asp-controller="ProductCategory" asp-action="ViewProductCategory">
                      <span class="sub-item">View Product Category</span>
                    </a>
                  </li>
                  <li>
                    <a asp-controller="ProductCategory" asp-action="AddProductCategory">
                      <span class="sub-item">Add Product Category</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#sidebarLayouts">
                <i class="fas fa-th-list"></i>
                <p>Products</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="sidebarLayouts">
                <ul class="nav nav-collapse">
                  <li>
                    <a asp-controller="Product" asp-action="ViewProduct">
                      <span class="sub-item">View Products</span>
                    </a>
                  </li>
                  <li>
                    <a asp-controller="Product" asp-action="AddProduct">
                      <span class="sub-item">Add Products</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#forms">
                <i class="fas fa-pen-square"></i>
                <p>Purchase</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="forms">
                <ul class="nav nav-collapse">
                  <li>
                    <a asp-controller="Purchase" asp-action="ViewPurchases">
                      <span class="sub-item">View Purchase</span>
                    </a>
                  <li>
                    <a asp-controller="Purchase" asp-action="AddPurchase">
                      <span class="sub-item">Add Purchase</span>
                    </a>
                  </li>
            </li>
          </ul>
        </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Supplier</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li>
                <a asp-controller="Supplier" asp-action="ViewSupplier">
                  <span class="sub-item">View Supplier</span>
                </a>
              </li>
              <li>
                <a asp-controller="Supplier" asp-action="AddSupplier">
                  <span class="sub-item">Add Supplier</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#maps">
            <i class="fas fa-shopping-cart"></i>
            <p>Sales</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="maps">
            <ul class="nav nav-collapse">
              <li>
                <a asp-controller="Sales" asp-action="Index">
                  <span class="sub-item">View Product Sales</span>
                </a>
              </li>
              <li>
                <a asp-controller="Sales" asp-action="CreateSales">
                  <span class="sub-item">Sale Product</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#charts">
            <i class="far fa-chart-bar"></i>
            <p>Charts</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="charts">
            <ul class="nav nav-collapse">
              <li>
                <a asp-controller="Chart" asp-action="SalesReport">
                  <span class="sub-item">Sales Report</span>
                </a>
              </li>
              <li>
                <a asp-controller="Chart" asp-action="PurchaseReport">
                  <span class="sub-item">Purchase Report</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#stock">
            <i class="fas fa-desktop"></i>
            <p>View Stock</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="stock">
            <ul class="nav nav-collapse">
              <li>
                <a asp-controller="Chart" asp-action="StockReport">
                  <span class="sub-item">Stock Report</span>
                </a>
              </li>
              <li>
                <a asp-controller="Chart" asp-action="StockFlow">
                  <span class="sub-item">Stock flow</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="main-panel">
    <div class="main-header">
      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="index.html" class="logo">
            <img src="~/Templates/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>

      <!-- Navbar Header -->
      <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
        <div class="container-fluid">
          

          <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
                aria-haspopup="true">
                <i class="fa fa-search"></i>
              </a>
              <ul class="dropdown-menu dropdown-search animated fadeIn">
                <form class="navbar-left navbar-form nav-search">
                  <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control" />
                  </div>
                </form>
              </ul>
            </li>
            
            <li class="nav-item topbar-icon dropdown hidden-caret">
              <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="notification" id="notificationCount">0</span>
              </a>
              <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                <li>
                  <div class="dropdown-title d-flex justify-content-between align-items-center">
                    <span id="notificationTitle">You have 0 new notifications</span>
                    <a href="#" class="small" onclick="markAllAsRead()">Mark all as read</a>
                  </div>
                </li>
                <li>
                  <div class="notif-scroll scrollbar-outer">
                    <div class="notif-center" id="notificationList">
                      <div class="text-center p-3">
                        <i class="fa fa-bell-slash text-muted" style="font-size: 2rem;"></i>
                        <p class="text-muted mt-2">No new notifications</p>
                      </div>
                    </div>
                  </div>
                </li>
                
              </ul>
            </li>
            

            @if (User.Identity.IsAuthenticated)
            {
              <!-- User is logged in: show profile dropdown -->
              <li class="nav-item topbar-user dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                  <div class="avatar-sm">
                    <img src="~/Templates/img/profile.jpg" alt="..." class="avatar-img rounded-circle" />
                  </div>

                  <span class="profile-username">
                    <span class="op-7">Hi,</span>
                    <span class="fw-bold">@(User.FindFirst("Username")?.Value ?? User.Identity.Name)</span>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                  <div class="dropdown-user-scroll scrollbar-outer">
                    <li>
                      <div class="user-box">
                        <div class="avatar-lg">
                          <img src="~/Templates/img/profile.jpg" alt="image profile" class="avatar-img rounded" />
                        </div>
                        <div class="u-text">
                          <h4>@(User.FindFirst("Username")?.Value ?? User.Identity.Name)</h4>
                          <p class="text-muted">@(User.FindFirst("Email")?.Value ?? "Email not available")</p>
                          <p class="text-muted"><strong>Role:</strong>
                            @(User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value ?? "N/A")</p>
                          <a href="/Profile" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="dropdown-divider"></div>
                      <form method="post" action="/Account/Logout" onsubmit="return confirmLogout()">
                        <button class="dropdown-item" type="submit" asp-area="" asp-controller="Auth"
                          asp-action="Logout">Logout</button>
                      </form>

                      <script>
                        function confirmLogout() {
                          return confirm("Are you sure you want to log out?");
                        }
                      </script>
                    </li>
                  </div>
                </ul>
              </li>
            }
            else
            {
              <!-- User is not logged in: show login button -->
              <li class="nav-item">
                <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-sm btn-secondary">
                  <i class="fas fa-sign-in-alt me-1"></i> Login
                </a>
              </li>
            }

          </ul>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>

    @RenderBody()

    <footer class="bg-white text-dark pt-4 pb-2 mt-auto">
      <div class="container text-center">
        <div class="mb-3">
          <a href="/" class="text-dark me-3">Home</a>
          <a href="/About" class="text-dark me-3">About</a>
          <a href="/Contact" class="text-dark me-3">Contact</a>
          <a href="/Privacy" class="text-dark">Privacy</a>
        </div>

        <div class="mb-3">
          <a href="#"><i class="fab fa-facebook-f text-dark me-3"></i></a>
          <a href="#"><i class="fab fa-twitter text-dark me-3"></i></a>
          <a href="#"><i class="fab fa-linkedin-in text-dark"></i></a>
        </div>

        <p class="mb-0">&copy; @DateTime.Now.Year YourCompanyName. All rights reserved.</p>
      </div>
    </footer>


  </div>


  <!--   Core JS Files   -->
  <script src="~/Templates/js/core/jquery-3.7.1.min.js"></script>
  <script src="~/Templates/js/core/popper.min.js"></script>
  <script src="~/Templates/js/core/bootstrap.min.js"></script>

  <!-- jQuery Scrollbar -->
  <script src="~/Templates/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

  <!-- Chart JS -->
  <script src="~/Templates/js/plugin/chart.js/chart.min.js"></script>

  <!-- jQuery Sparkline -->
  <script src="~/Templates/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

  <!-- Chart Circle -->
  <script src="~/Templates/js/plugin/chart-circle/circles.min.js"></script>

  <!-- Datatables -->
  <script src="~/Templates/js/plugin/datatables/datatables.min.js"></script>

  <!-- Bootstrap Notify -->
  <script src="~/Templates/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

  <!-- jQuery Vector Maps -->
  <script src="~/Templates/js/plugin/jsvectormap/jsvectormap.min.js"></script>
  <script src="~/Templates/js/plugin/jsvectormap/world.js"></script>

  <!-- Notification System JavaScript -->
  <script>
    // Function to fetch and update notification count
    async function updateNotificationCount() {
      try {
        const response = await fetch('/StockAlert/GetUnreadCount');
        const data = await response.json();
        const count = data.count;
        
        const notificationCount = document.getElementById('notificationCount');
        const notificationTitle = document.getElementById('notificationTitle');
        
        if (notificationCount) {
          notificationCount.textContent = count;
          notificationCount.style.display = count > 0 ? 'inline' : 'none';
        }
        
        if (notificationTitle) {
          notificationTitle.textContent = count === 1 ? 'You have 1 new notification' : `You have ${count} new notifications`;
        }
      } catch (error) {
        console.error('Error fetching notification count:', error);
      }
    }

    // Function to load notifications
    async function loadNotifications() {
      try {
        const response = await fetch('/StockAlert/GetUnreadAlertsJson');
        const alerts = await response.json();
        const notificationList = document.getElementById('notificationList');
        
        if (alerts && alerts.length > 0) {
          // Convert alerts to notification items
          let notificationsHtml = '';
          alerts.forEach(alert => {
            notificationsHtml += `
              <a href="/StockAlert/Index" onclick="markNotificationAsRead(${alert.id})">
                <div class="notif-icon ${alert.iconColor}">
                  <i class="fa ${alert.iconClass}"></i>
                </div>
                <div class="notif-content">
                  <span class="block">${alert.productName}: ${alert.message}</span>
                  <span class="time">${alert.createdAt}</span>
                </div>
              </a>
            `;
          });
          notificationList.innerHTML = notificationsHtml;
        } else {
          // Show no notifications message
          notificationList.innerHTML = `
            <div class="text-center p-3">
              <i class="fa fa-bell-slash text-muted" style="font-size: 2rem;"></i>
              <p class="text-muted mt-2">No new notifications</p>
            </div>
          `;
        }
      } catch (error) {
        console.error('Error loading notifications:', error);
        const notificationList = document.getElementById('notificationList');
        if (notificationList) {
          notificationList.innerHTML = `
            <div class="text-center p-3">
              <i class="fa fa-exclamation-triangle text-warning" style="font-size: 2rem;"></i>
              <p class="text-muted mt-2">Error loading notifications</p>
            </div>
          `;
        }
      }
    }

    // Function to mark a single notification as read
    async function markNotificationAsRead(alertId) {
      if (alertId > 0) {
        try {
          await fetch('/StockAlert/MarkAsRead', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `alertId=${alertId}`
          });
        } catch (error) {
          console.error('Error marking notification as read:', error);
        }
      }
    }

    // Function to mark all notifications as read
    async function markAllAsRead() {
      try {
        await fetch('/StockAlert/MarkAllAsRead', {
          method: 'POST'
        });
        
        // Update the UI
        updateNotificationCount();
        loadNotifications();
        
        // Show success message
        $.notify({
          message: 'All notifications marked as read'
        }, {
          type: 'success',
          placement: {
            from: 'top',
            align: 'right'
          }
        });
      } catch (error) {
        console.error('Error marking all notifications as read:', error);
      }
    }

    // Initialize notifications when page loads
    document.addEventListener('DOMContentLoaded', function() {
      updateNotificationCount();
      
      // Load notifications when dropdown is opened
      const notificationDropdown = document.getElementById('notifDropdown');
      if (notificationDropdown) {
        notificationDropdown.addEventListener('click', function() {
          loadNotifications();
        });
      }
    });

    // Update notifications every 30 seconds
    setInterval(updateNotificationCount, 30000);
  </script>

  <script>
    $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#177dff",
      fillColor: "rgba(23, 125, 255, 0.14)",
    });

    $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#f3545d",
      fillColor: "rgba(243, 84, 93, .14)",
    });

    $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
      type: "line",
      height: "70",
      width: "100%",
      lineWidth: "2",
      lineColor: "#ffa534",
      fillColor: "rgba(255, 165, 52, .14)",
    });
  </script>
  @RenderSection("Scripts", required: false)
</body>

</html>